# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

.idea/

# Fury coverage
coverage/

# Fury Code-Quality
/code_quality_service/

# Golang IDE
.DS_Store

# Test sqlite files
**/testdata/*.db
.vscode

# local configuration file emulating Fury Configuration
/configuration.properties
